In [30]:
m = 0
n = 0
o = 0
title = ['NAME     |'    , 'AGE|', 'HEIGHT|', 'SCORE|']

girl1 = ['samantha|', 17,    5.5,      80]

girl2 = ['Jada    ', 16,    6.0,       85]

girl3 = ['Claire  ', 17,    5.4,      70]

girl4 = ['Elizabeth    ',18 , 5.9, 60]

for m in title:
    for n in girl1:
        print(m,n)

NAME     | samantha|
NAME     | 17
NAME     | 5.5
NAME     | 80
AGE| samantha|
AGE| 17
AGE| 5.5
AGE| 80
HEIGHT| samantha|
HEIGHT| 17
HEIGHT| 5.5
HEIGHT| 80
SCORE| samantha|
SCORE| 17
SCORE| 5.5
SCORE| 80

In [18]:
girlname = ('samantha', 'jada', 'jane', 'claire', 'elizabeth', 'Mary', 'susan', 'waje', 'talibat', 'lilian')
girlage = (17, 16, 17, 18, 16, 18, 17, 20, 19, 17)

for lol in girlname:
    print(girlname[lol])

TypeError: tuple indices must be integers or slices, not str